# Data Read

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv("https://raw.githubusercontent.com/dplecko/CFA/main/inst/extdata/census.csv")
census.shape

(20000, 18)

In [3]:
census.sample(5)

,Unnamed: 0,sex,age,race,hispanic_origin,citizenship,nativity,marital,family_size,children,education_level,english_level,salary,hours_worked,weeks_worked,occupation,industry,economic_region
2718,2719,female,40,white,no,1,native,divorced,2,0,19,0,22000.0,14,49,43-5052,491,Plains
2626,2627,male,20,white,yes,5,foreign-born,never married,4,3,19,1,15000.0,20,49,25-2020,6111,Rocky Mountain
7880,7881,male,50,white,no,1,native,married,2,0,19,0,55000.0,40,49,11-3021,928P,Plains
17109,17110,female,58,black,no,1,native,divorced,2,0,19,0,30000.0,30,49,25-9040,6111,Mideast
19752,19753,female,29,other,yes,1,native,married,2,0,22,1,50000.0,40,39,25-2020,6111,Far West

# Observational Bias

In [4]:
# E(Y|X1) - E(Y|X2) aka E(salary | sex=male) - E(salary | sex=female)
TV = census[census.sex == "male"].salary.mean() - census[census.sex == "female"].salary.mean()
TV

14790.56742240479

**It means, there is a salary gap of ~$15k on average in between males and females.**

# Adjusted Bias
### We will use IPTW without deploying any causal model